@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  scrollbar-width: none !important;
  font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.main-bg{
  background-color: rgba(165, 210, 250, .4);
  background-image:
    linear-gradient(90deg, rgba(165, 210, 250, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 250, .3) 50%, transparent 50%);
  background-size: 50px 50px;
}

.default-color{
  h1{
    color: rgb(87 83 78);
  }
  background-image: linear-gradient(to top, rgb(87 83 78), transparent);
}
.pepsi-color{
  h1{
    color: rgb(30 58 138);
  }
  background-image: linear-gradient(to top, rgb(30 58 138), transparent);
}
.fanta-color{
  h1{
    color: rgb(234 88 12);
  }
  background-image: linear-gradient(to top, rgb(234 88 12), transparent);
}
.cocacola-color{
  h1{
    color: rgb(220 38 38);
  }
  background-image: linear-gradient(to top, rgb(220 38 38), transparent);
}
.cocazero-color{
  h1{
    color: black;
  }
  background-image: linear-gradient(to top, black, transparent);
}
.sprite-color{
  h1{
    color: rgb(22 101 52);
  }
  background-image: linear-gradient(to top, rgb(22 101 52), transparent);
}
.redbull-color{
  h1{
    color: rgb(72, 87, 228);
  }
  background-image: linear-gradient(to top, rgb(72, 87, 228), transparent);
}